@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main-container h1 {
  text-align: center;
  font-size: 28px;
  padding: 20px 0;
}

.book-list {
  border-collapse: collapse;
  width: 60%;
  margin: 30px auto 10px auto;
}

td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  font-weight: bolder;
}

td:nth-child(2) {
  text-align: center;
}

td button {
  padding: 5px 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: auto;
  height: 3px;
  border-radius: 10px;
  background-color: black;
}

#form {
  max-width: 250px;
  margin: 30px auto;
}

#form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#form input {
  width: 100%;
  padding: 10px;
}

#form button {
  padding: 7px 20px;
  float: right;
  clear: both;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}
