*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: url(./images/bg.jpg), no-repeat;
  background-size: cover;
}

.page-title {
  font-weight: bolder;
  font-size: 20px;
}

nav {
  display: flex;
  margin-bottom: 0;
  padding: 2% 5%;
  padding-bottom: 10px;
  justify-content: space-between;
  gap: 50px;
}

nav > .left-nav {
  flex: 1;
}

nav > .right-nav {
  display: flex;
  column-gap: 10px;
}

.border-item a,
#contact-info {
  border-right: solid 1px #fff;
  padding-right: 10px;
}

.current-date {
  display: block;
  float: right;
  padding-right: 5%;
  color: white;
}

.main-container {
  margin-top: 30px;
}

.main-container h1 {
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
  color: white;
}

.book-list {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 30px auto 10px auto;
}

td {
  text-align: left;
  padding: 5px;
  border: 1px solid rgb(31, 10, 10);
  font-weight: bolder;
}

td:nth-child(2) {
  text-align: center;
}

td button {
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #290438;
  color: #fff;
}

.form-container {
  display: none;
}

#form {
  width: 30%;
  margin: 30px auto;
}

#form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#form input {
  width: 100%;
  padding: 10px;
}

#form button {
  padding: 7px 20px;
  float: right;
  clear: both;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}

#home {
  color: blue;
}

.message {
  text-align: center;
  color: #bcbcbc;
}

.contact-info {
  display: none;
  flex-direction: row;
  justify-content: center;
}

.contact-info > * {
  width: 50vw;
}

.info-contact {
  margin: 50px;
  color: white;
}

.info-contact > ul {
  list-style: circle;
  margin: auto;
  padding: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #6f06e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: white;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  #form {
    width: 90%;
  }

  .page-title {
    font-weight: bolder;
    font-size: 1rem;
  }

  .border-item a,
  #contact-info,
  #time-val {
    font-size: 0.9rem;
  }

  .main-container {
    margin-top: 80px;
  }

  table {
    width: 90%;
  }
}
